*{
    margin: 0;
    padding: 10;
}
html{
    font-size: 1.5cm;
    
font-family: 'Nunito', sans-serif;
background-image: linear-gradient(to left, #ff00aa, #03f13f); 
}
header {
    background-image: linear-gradient(to left, #ff00aa, #03f13f);
    text-align: center;
}
main {
    background-image: linear-gradient(to left, #ff00aa, #03f13f);
}
footer {
    background-image: linear-gradient(to left, #ff0095, #76f103);
    background-color: rgba(2, 199, 248, 0.541);
    padding: 10px 50px;
}
#about{
    background-color: rgba(184, 62, 196, 0.562);
    padding: 10px 50px;
    text-align: center;
}
#article{
    background-image: linear-gradient(to left, #ff0095, #76f103);
    background-color: rgba(2, 199, 248, 0.651);
    padding: 10px 50px;
}
p{
    text-align: justify;
    font-size: 32px;
    line-height: 40px;
    margin-bottom: 40px;
    border-radius: 10px;
}
h1{
    text-transform: uppercase;
    color: rgb(0, 0, 0);
    font-size: 40px;
    font-style: italic;
}
h2{
    font-size: 1cm;
    text-align: center;
}
section{
    font-size: 25px;

}
ul{
    list-style: none;
}
h4{
    padding: 10px;
}
li{
    padding: 10px;
}
p{
    text-align: center;
}
a:link{
    color: #ff0095;
}
a:active{
    color: #76f103;
}
a:visited{
    color: #f1b903;
}
a:hover{
    color: aqua;
    text-decoration: underline;
}
a:focus{
    color: #ff0095;
}
a{
    text-decoration: none;
    color: brown;
}
strong:lang(ru){
    font-style: italic;
}
p:lang(en){
    text-decoration: underline;
}
q{
    font-size: 30px;
    text-align: center;
}
h2:before{
    content: "Важно!!!";
    border: 5px;
    color: aqua;
}
h2:after{
    content: "Важно!!!";
    border: 5px;
    color: rgb(5, 105, 255);
}
p:first-line{
    letter-spacing: 5px;
}
#articles li:nth-child(even){
    background-color: #03f13f;
}
table {
    width: 1%;
    border-collapse: collapse;
    font-size: 30px;
    margin: auto;
}
th, td {
    border: 2px solid #000000;
    padding: 8px;
    text-align: center;
}
th {
    background-color: #229c28;
}
#contact-form input[type = "text"] {
    height: 20px;
    width: 250px;
    padding: 5px;
    margin-bottom: 10px;
    border: rgb(89, 0, 253) solid 1px;
    background-color: #eddfff;
}

#contact-form input[type="submit"] {
    height: 30px;
    width: 100px;
    padding: 5px;
    margin-bottom: 10px;
    border: rgb(44, 2, 83) solid 1px;
    background-color: #8223ff;
}
#contact-form input[type="submit"]:hover {
    height: 30px;
    width: 100px;
    padding: 5px;
    margin-bottom: 10px;
    border: rgb(44, 2, 83) solid 1px;
    background-color: whitesmoke;
}
#contact-form textarea {
    height: 20px;
    width: 250px;
    padding: 5px;
    margin-bottom: 10px;
    border: rgb(89, 0, 253) solid 1px;
    background-color: #eddfff;
}
#contact-form option {
    height: 20px;
    width: 250px;
    padding: 5px;
    margin-bottom: 10px;
    border: rgb(89, 0, 253) solid 1px;
    background-color: #eddfff;
}
#contact-form select[type="theme"] {
    width: 260px;
    padding: 5px;
    margin-bottom: 10px;
    border: rgb(89, 0, 253) solid 1px;
    background-color: #eddfff;
}
tr:nth-child(even){
    background-color: rgb(6, 245, 106)
 }
 
 tr:nth-child(ofd){
    background-color: rgb(255, 0, 0)
 }
 
 th:nth-child(even){
    background-color: rgb(19, 3, 250)
 }
 
 th:nth-child(ofd){
    background-color: rgb(184, 25, 25)
 }




